.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tddata {
  text-align: center;
}

.tdName {
  padding-top: 7px
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: white
}

.scoreCard {
  background-color: white;
}

.flex-comps {
  display:flex
}

.teamCardFull {
  width: 200%
}

.teamCard {
  background-color: rgb(238, 131, 31);
}

.teamCardHeader {
  display:flex;
  justify-content: space-between;  
}

.teamName {
  font-size: 30px;
  color: white
}

.teamButton {
  background-color: rgb(99, 92, 92);
  padding: 1px;
  border-color: rgb(24, 22, 22);
}

.teamButton:hover {
  background-color: rgb(24, 22, 22);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
}

  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }